.about{
    background-color: $color-grey-light-1;
    grid-column: 1 /-1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    &__content{
        display: grid;
        grid-column: 1 /span 5;
        text-transform: uppercase;
    }

    &__paragraph{
        font-size: 2.6rem;
        background-image: linear-gradient(120deg, $color-secondary, $color-secondary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transform: translateY(5rem) translateX(3rem);
    }

    &__heading{
        font-size: 3rem;
        font-weight: lighter;
        text-align: center;
        transform: translateY(1.3rem);
        line-height: 3.9rem;
    }

    &__picture{
        grid-column: 6/-1;
        background-image: linear-gradient(120deg, rgba($color-secondary, .7), rgba($color-secondary-dark, .7)), url(image/off.jfif);
        display: grid;
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(8, 6.9rem);

        .item-2{
            grid-column: 2/8;
            grid-row: 2/8;
            z-index: 1;
        }
        .item-1{
            grid-column: 6/9;
            grid-row: 6/span 3;
            z-index: 2;
        }
    }

    &__image{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}