.feature{
    background-color: $color-grey-light-1;
    grid-column: 1 /-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 6rem;
    padding: 10rem 20rem;   

    &__box{
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .15);
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 7rem);
        transition: all .7s;

    }

    .item_1{
        grid-column: 1/6;
        grid-row: 1/4;
    }
    &__image{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__detail{
        display: grid;
        grid-column: 1/6;
        grid-row: 4/-1;
        align-items: center;
        justify-items: center;
    }

    &__button{
        border: none;
        background-color: $color-secondary;
        padding: 1.4rem 3rem;
        grid-column: 1/6;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

    &__paragraph{
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: lighter;
        .span{
            color: $color-secondary;
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 1.6rem;
            margin-bottom: 0px;
            padding-right: .6rem;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light-2;
            width: 80%;
            padding-bottom: .9rem;
            text-align: center;
            margin-bottom: 0px;
        }
    }
}