.form{
    background-color: rgba($color: #000000, $alpha: .8);
    grid-column: 1/-1;
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    z-index: 300000;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100vw;
    transition: all .2s;
    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        transform: scale(1);
    }

    &__content{
        grid-column: 2/8;
        grid-row: 2/8;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .4);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        transform: scale(.5);
        background-image: linear-gradient(120deg,  rgba(white,.8) 0%,  rgba(white,.8) 50%, transparent 50%), url(image/off.jfif);
    }

    &__heading{
        text-transform: uppercase;
        background-image: linear-gradient(to bottom right, $color-green-light, $color-green-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        font-size: 2.6rem;
        transform: translateX(-20%);
        margin: 3rem 0rem 7rem 0rem;
    }

    &__group{
        margin-left: 3rem;
        margin-bottom: 5rem;

        &--input{
            outline: none;
            border: none;
            height: 5rem;
            width: 28rem;
            box-shadow: 0 2rem 4.4rem rgba($color: #000000, $alpha: .4);
            border-radius: 4px;
            background-color: rgba($color: #fff, $alpha: .7);
            padding-left: 1rem;

            &:focus{
                border-bottom: 3px solid $color-green-light;
            }
            &:focus:invalid{
                border-bottom: 3px solid red;
            }
        }
        
        &--input:placeholder-shown + &--label {
            transform: translateY(-10px);
            visibility: hidden;
            opacity: 0;
        }

        &--label{
            text-transform: capitalize;
            font-size: 1.2rem;
        }
    }


    &__link{
        color: #ffffff;
        font-size: 3.9rem;
        font-weight: 500;
        position: absolute;
        text-decoration: none;
        top: 1rem;
        right: 3rem;

        &:hover{
            color: $color-green-light;
        }
    }

    &__lan{

        &:link,
        &:visited{
            text-decoration: none;
            color: black;
            background-color: $color-green-light;
            height: 4rem;
            width: 10rem;
            text-align: center;
            transform: translateX(38rem);
            border-radius: 50px;
            text-transform: uppercase;
            font-size: 1.4rem;
            padding-top: 1.2rem;
            position: relative;
            outline: none;
            transition: all .4s;
        }

        &::after{
            content: "";
            height: 100%;
            width: 100%;
            border-radius: 5rem;
            position: absolute;
            background-color: $color-green-light;
            top: 0px;
            z-index: -2;
            left: 0px;
            transition: all .6s;
        }

        &:hover::after{
            transform: scale(1.5);
            opacity: 0;
        }

        &:hover{
            transform: translateY(-.7rem) translateX(38rem);
            box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: .3);
        }

        &:active{
            box-shadow: 0 0 0 0;
            transform: translateY(0rem) translateX(38rem);
            outline: none;
        }
    }


    &__button{
        &:link,
        &:visited{
            border: none;
            background-color: $color-green-light;
            margin-left: 3rem;
            text-transform: uppercase;
            border-radius: 50px;
            font-weight: lighter;
            font-size: 1.2rem;
            position: relative;
            color: currentColor;
            padding: 1.4rem 2.7rem;
            text-decoration: none;
        }

        &:hover{
            background-color: $color-green-dark;
        }
    }
}
.bingo{
    background-color: $color-green-light;
    
}