.gallary{
    background-color: $color-grey-light-1;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 5.9vw);
    position: fixed;
    height: 100%;
    grid-gap: .7rem;
    opacity: 0;
    visibility: hidden;
    width: 100vw;
    z-index: 2000000000;
    padding: .5rem;


    &:target{
        opacity: 1;
        visibility: visible;
    }

    .link{
        &:link,
        &:active{
            text-decoration: none;
            background-image: linear-gradient(to bottom right, white, white);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 4.4rem;
            position: absolute;
            top: .5rem;
            right: 2.5rem;
            font-weight: 600;
        }

        &:hover{
            background-image: linear-gradient(to bottom right, $color-green-light, $color-green-light);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }

    &__item--1{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    &__item--2{
        grid-column: 3/ span 3;
        grid-row: 1/ span 3;
    }
    &__item--3{
        grid-column: 6/7;
        grid-row: 1/ span 2;
    }
    &__item--4{
        grid-column: 7/9;
        grid-row: 1/ span 2;
    }
    &__item--5{
        grid-column: 1/3;
        grid-row: 3/ span 3;
    }
    &__item--6{
        grid-column: 3/5;
        grid-row: 4/6;
    }
    &__item--7{
        grid-column: 5/6;
        grid-row: 4/5;
    }
    &__item--8{
        grid-column: 6/8;
        grid-row: 3/ span 2;
    }
    &__item--9{
        grid-column: 8/9;
        grid-row: 3/ span 2;
    }
    &__item--10{
        grid-column: 1/2;
        grid-row: 6/ span 2;
    }
    &__item--11{
        grid-column: 2/span 2;
        grid-row: 6/ span 2;
    }
    &__item--12{
        grid-column: 4/span 1;
        grid-row: 6/ span 2;
    }
    &__item--13{
        grid-column: 5/span 3;
        grid-row: 5/ span 3;
    }
    &__item--14{
        grid-column: 8/span 1;
        grid-row: 5/ span 3;
    }

    &__image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }
}