.navigation{
    background-color: $color-primary;
    grid-column: 1/-1;
    height: 0%;

    &__background{
        background-image: linear-gradient(120deg, $color-green-light, $color-green-light2);
        height: 3.5rem;
        border-radius: 50%;
        width: 3.5rem;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 90000;
        transition: all .6s cubic-bezier(.86, 0, .07, 1);
    }

    &__checkbox:checked ~ &__background{
        transform: scale(77);
    }

    &__button{
        height: 4.7rem;
        width: 4.7rem;
        background-color: white;
        border-radius: 50%;
        z-index: 200000;
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .3);
        position: fixed;
        top: 12px;
        right: 12px;
    }

    &__span{
        position: relative;
        background-color: $color-grey-dark-1;
        transform: translateY(2.3rem) translateX(1rem);
        transition: all .4s;

        &,
        &::after,
        &::before{
            display: inline-block;
            height: .2rem;
            width: 2.7rem;
        }


        &::after,
        &::before{
            content: "";
            position: absolute;
            background-color: $color-grey-dark-1;
            left: 0px;
            transition: all .3s;
        }

        &::after{
            top: 8px;
        }

        &::before{
            top: -8px;
        }
    }

    &__button:hover &__span::after{
        top: 10px;
    }
    &__button:hover &__span::before{
        top: -10px;
    }

    &__checkbox:checked + &__button &__span{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__span::after{
        transform: rotate(135deg);
        top: 0px;
    }

    &__checkbox:checked + &__button &__span::before{
        transform: rotate(-135deg);
        top: 0px;
    }

    &__checkbox{
        display: none;
    }

    &__nav{
        position: fixed;
        top: 0%;
        text-align: center;
        z-index: 9000000000;
        left: 0%;
        transform: translateY(17%);
        height: 100%;
        transition: all .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        width: 0%;
        opacity: 0;
        visibility: hidden;
    }


    &__checkbox:checked ~ &__nav{
        width: 100%;
        opacity: 1;
        visibility: visible;
    }
    &__list{
        list-style: none;
        display: block;
    }

    &__item{

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
            color: white;
            background-size: 217%;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 2.9rem;
            padding: 1.8rem 2rem;
            font-weight: lighter;
            transition: all .4s;
            display: inline-block;
        }

        &:hover{
            background-position: 100%;
            transform: translateX(1.2rem);
            color: $color-green-light2;
        }
    }
}