.realtor{
    background-color: $color-primary-dark;
    grid-column: 8/-1;
    display: grid;
    grid-template-rows: max-content repeat(3, 5.5rem);
    row-gap: 3rem;

    &__heading{
        background-image: linear-gradient(120deg, $color-secondary, $color-secondary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        font-weight: lighter;
        align-self: center;
        margin-top: 9rem;
    }

    &__detail{
        display: grid;
        grid-template-columns: min-content max-content;
        column-gap: 1rem;
        justify-self: center;
    }

    &__image{
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50%;
    }

    &__text{
        transform: translateY(1.2rem);
    }

    &__h{
        color: white;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 1.5rem;

    }

    &__paragraph{
        color: $color-grey-light-2;
        text-transform: uppercase;
        font-size: 1rem;

    }
}